/*This is my css document for my portfolio html. */

.porttitle {
  font-size: 55px;
  text-align: center;
  color: Lavender;
  background-color: Pink;
  font-family: sans-serif;
  margin-top: -100px;
  padding-top: 50px;
  margin-right: -10px;
  animation-name: portanim;
  animation-duration: 4s;
}

.portlinks {
  /*change color to dark pink*/
  background-color: Pink;
  height: 60px;
  margin-top: -85px;
  width: 100.7%;
  display: block;
  overflow-x: hidden;
}

.portlinks a {
  font-style: sans-serif;
  float: left;
  font-style: bold;
  /*change color to dark lavender*/
  color: Lavender;
  font-size: 30px;
  margin-top: 10px;
  padding: 5px 2.615%;
  border-color: LightGrey;
  border-width: 2px;
  border-style: solid;
  padding: 5px 2.115%;
  overflow-x: hidden;
  display: block;

}

.portlinks a:hover {
  background-color: Lavender;
  color: Pink;
}

.main {
  background-color: LightBlue;
  margin-right: -10px;
}

#opening {
  padding: 20px 30px;
  margin-top: -2px;
  color: DarkGrey;
  font-style: sans-serif;
  font-size: 22px;
  animation-name: para1;
  animation-duration: 4s;
  opacity: 100%;
  border-style: solid;
  border-color: Lavender;
  border-width: 7px;
  border-left: none;
  border-right: none;
}

#anna {
  color: Lavender;
  animation-name: anna;
  animation-duration: 3s;
}

#project {
  color: Lavender;
  animation-name: project;
  animation-duration: 4s;
}

#history {
  color: Lavender;
  animation-name: history;
  animation-duration: 5s;
}
/*Animations:*/

@keyframes para1{
0% {opacity:0%; color: LightBlue;}
100% {opacity:100%; color: DarkGrey;}
}

@keyframes anna {
  0% {color: Pink;}
  100% {color: Lavender;}
}

@keyframes project {
  0% {color: Pink;}
  50% {color: Pink;}
  100% {color: Lavender;}
}
@keyframes history {
  0% {color: Pink;}
  67% {color: Pink;}
  100% {color: Lavender;}
}

#orgbar {
  padding-left: 20px;
  padding-right: 10px;
  float: left;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: Black;
}
a:hover {
  color: DarkGrey;
}

#famtreebar {
  float: right;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  height: 112px;
  width: 284px;
  margin-right: 160px;
  margin-top: -430px;
}

#famtreebartext {
  float: right;
  margin-right: 150px;
  margin-top: -280px;
  font-size: 24px;
  width: 300px;
}
#famtreejames {
  float: left;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  height: 149.4px;
  width: 275.4px;
  margin-top: -300px;
  margin: 10px;
}

#familypara {
  width: 300px;
  height: 300px;
  margin-left: 400px;
  line-height: 30px;
  padding-top: 10px;
  font-size: 22px;
}

.inforight {
  width: 800px;
  display: block;
  font-size: 22px;
}

.familytreediv {
  padding-bottom: -100px;
  margin-bottom: -100px;
}
/*This makes it so that when the familytreediv is hovered over, the title turns underlined. Similar things are happening below.*/
.familytreediv:hover .pagetitle{
  text-decoration: underline;
}

.colorblock:hover .pagetitle{
  text-decoration: underline;
}

.notcolorblock:hover .pagetitle{
  text-decoration: underline;
}

#bisonpic {
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  padding-left: -10px;
  float: right;
  margin-right: 40px;
  margin-top: -150px;
}

#zeroportpic {
  height: 106.4px;
  width: 428px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  margin-top: 10px;
}

#toothvid {
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  float: right;
  margin-right: 300px;
  margin-top: -240px;
  margin-left: -200px;
}

#toothblurb {
  float: right;
  margin-right: 500px;
  font-size: 25px;
  padding-right: 0px;
  margin-left: 0px;
}

.envirofun {
  float: right;
  margin-right: -220px;
  font-size: 22px;
  margin-top: -240px;
}


#fallguide {
  width: 634px;
  height: 153px;
  margin: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  margin-left: 0px;
}


#dropdowninfo {
  float: right;
  margin-right: 150px;
  font-size: 20px;
  margin-top: -100px;
}

#fallundrop {
  float: right;
  margin-top: -170px;
  margin-right: 40px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
}

#falldrop {
  float: right;
  margin-top: -170px;
  margin-right: 40px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  padding-bottom: -30px;
}

#cowimg {
  float: right;
  margin-top: -190px;
  margin-right: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
}

#firemanimg {
  float: right;
  margin-top: -190px;
  margin-right: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
}

#buzzimg {
  float: right;
  width: 448.21px;
  height: 136.92px;
  margin-right: -4px;
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  margin-top: -180px;
}

#maskshot {
  border-style: solid;
  border-width: 4px;
  border-color: Lavender;
  float: right;
  margin-top: -180px;
  margin-right: -230px;
}

.maskpara {
  font-size: 20px;
  float: right;
  margin-right: -450px;
  margin-top: -160px;
  width: 200px;
}
/*This class is similar to the one that I used in my fall project to add variety to different sections of text. Essentially,
every other block will have this div so that the background colors will vary project to project. */
.colorblock {
  background-color: DodgerBlue;
  margin-left: -10px;
  padding: 10px;
  border-style: solid;
  border-color: Lavender;
  border-width: 7px;
  border-left: none;
  border-right: none;

}

.portinfo {
  padding-left: 10px;
}

#spacebelow {
  padding-bottom: 60px;
}
