
/*Applies to the whole html document and makes
 it so the user cannot scroll horizontally and it
 also formats it with the margin control.
*/
html {
  margin-top: none;
  overflow-x: hidden;
}
 /*Styles the button "Fall Guide"*/
.homebutton {
  color: LightGrey;
  text-align:center;
  position: relative;
  display: block;
  font-size: 40px;
  font-family: fantasy;
  border-style: solid;
  border-color: Grey;
  border-width: 6px;
  padding: 3px;
  float:left;
  background-color: #ff9933;
}

/*Styles the content that appears one the dropdown*/
.homedrop {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: LightGrey;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-top: none;

  border-color: Grey;
  border-width: 6px;
  background-color:#ff9933;
  float: left;
  margin-left: -9px;

}

/*Styles for when the homebutton is being hovered over with the
mouse, which will display the dropdown*/
.homebutton:hover .homedrop {
  display: block;
}
.homebutton:hover {
  border-bottom: none;
}
/*Applies to all anchors, but is generally used for the dropdowns -
 see #spoon for usual anchor styling*/
a:hover {
  color: grey;
}
a {
  color: LightGrey;
  text-decoration: none;
}
/* Styles the title of the homepage*/
.titleclass {
  text-align: center;
  font-family: 'Allura';
  font-size: 110px;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-top: 0px;
  background-image: url(https://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/4/dd/4dd99e26-c51d-5f1d-9b7e-764117e8a318/596e1e41b1074.image.jpg?resize=1200%2C800);
  background-size: contain;
}

/* Specializes sizing of certain portions of text*/
#dates {
  font-size: 34px;
}
#spansize {
  font-size: 35px;
}

/* Similar idea to .fallcontent as it applies to the whole document*/
.bigfall {
  background-color: #ff9933;
  color: #fff2e5;
  border-style: solid;
  border-width: 3px;
  border-color: Grey;
}

/* Positions the image with the pumpkin spider on it*/
#pumpimg {
  float: left;
  margin-right: 20px;
  border: 6px solid #e67300;
}

/*Applies to the bulk of the regular text on the homepage */
.fallcontent {
  font-size: 30px;

}

/* Relates to the clickable links throughout the document: one is on
Spooner Farms, another on FreightHouse Square*/
#spoon {
  text-decoration: underline;
  color: white;
}
#spoon:hover {
  color:LightGrey;
}

/* Styles for the part of the document about the haunted house */
.spooky {
  background-color: #ffa64d;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0%;
  margin-right: 0%;
  word-spacing: 4px;
  overflow: auto;
  padding-bottom: 40px;
}
iframe {
  float: right;
}

.linkbar a {
  font-size: 30px;
  color: white;
}

.linkbar a:hover {
  color: LightGrey;
}
/* All food document related styles */
.foodfall {
  border-style: solid;
  border-top: none;
  border-color: Grey;
  border-width: 3px;
  background-color: #ff9933;
  color: #fff2e5;
  font-size: 30px;
}

.foodtextgen {
 color: white;
 width: 100%;
}
#foodtitle {
  text-align: center;
  font-family: 'Allura';
  font-size: 80px;
}

.colorblk {
  background-color: #ffa64d;
  word-spacing: 4px;
  overflow: auto;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 40px;
  border-style: solid;
  border-width: 5px;
  border-left: none;
  border-right: none;
  border-color: #e67300;
}

#pumpbreadimg {
  float:right;
  border: 14px double #e67300;
}

#doubleline {
  border: 20px double #e67300;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 20px;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 20px;
  text-align: left;
}

.borderline {
  border-top: 20px double #e67300;
  width: 100%;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0px 300px;
  overflow-x: hidden;
}

#listspace {
  margin-top: 20px;
  padding-top: 20px;
}

.moveimg {
  margin-right: 300px;
}
 /*All code for the Halloween page*/
#trickimg {
  float: right;
  border: 14px double #e67300;
}

#introhall {
  overflow:auto;
  border-top: 6px solid #e67300;
  padding: 20px;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 30px;
}

.costume {
  overflow: auto;
  font-size: 30px;
  border-style: double;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 24px;
  border-color: #e67300;
}

#sodaimg {
  float:right;
  border: 14px double #e67300;
  margin-right: 100px;
}
